github "tomkowz/Swifternalization"
github "Kekiiwaa/Localize"
github "ReactiveX/RxSwift" ~> 3.0
github "Alamofire/Alamofire" ~> 4.4
github "Hearst-DD/ObjectMapper" ~> 2.2
github "tristanhimmelman/AlamofireObjectMapper" ~> 4.0
github "SwiftyJSON/SwiftyJSON"
github "kishikawakatsumi/KeychainAccess"
github "SwiftyBeaver/SwiftyBeaver"
github "SnapKit/SnapKit" ~> 3.2.0

